requirements.txt
__pycache__/
*.pyc
.env
models_cache/
data/
models_cache/
database/
uploads/
.venv/
models/
client/node_modules
client/.env
client/build
client/.DS_Store
client/.next

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
